.graph{
  position: relative;
  height: 500px;
  background-color: #f1eded;
}
.xAsis{
  width: 100%;
  border-bottom: 1px solid black;
  position: absolute;
  bottom: 10px;
}

.point{
  position: absolute;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  background-color: black;
}